# Configurações do SQL Server no Docker
MSSQL_SA_PASSWORD=BrainDump@2026Pass

# Connection Strings
ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=BrainDumpDb;User Id=sa;Password=BrainDump@2026Pass;TrustServerCertificate=True;MultipleActiveResultSets=true
